* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-image: url("../images/europe.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

header {
    width: 100%;
    height: 100px;
    background-color: rgb(235, 210, 72);
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    padding: 0px 0px 10px 20px;
    line-height: 1.5em;
    text-align: center;
}

#game-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.548);
    width: 60%;
    height: 300px;
    color: white;
    font-size: 24px;
    padding: 40px;
    top: 150px;
    left: 200px;
    border-radius: 20px;
}